<div id="<%= dom_id food_recipe %>">
  <p>
    <strong>Quantity:</strong>
    <%= food_recipe.quantity %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= food_recipe.recipe_id %>
  </p>

  <p>
    <strong>Food:</strong>
    <%= food_recipe.food_id %>
  </p>

</div>
