<div id="<%= dom_id food %>">
  <p>
    Food
    <%= food.name %>
  </p>

  <p>
    Measurement unit
    <%= food.measurement_unit %>
  </p>

  <p>
    Unit price
    <%= food.unit_price %>
  </p>

</div>
